[Desktop Entry]
Version=1.0
Name=qVersare
Comment=qVersare aplicacion de mensajeria
Type=Application
Terminal=false
Icon=/usr/share/icons/hicolor/32x32/apps/qversare-ico.png
Exec=qVersare-Cli
Categories=Utility

